<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Pantry</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs')%>

        <h1>Pantry Items</h1>
        <ul>            
                <li>
                    <h3>
                        <%= user.username %>
                    </h3>
                    <h3>
                        <% user.pantry.forEach(food => {%>
                            <%=food.name%>
                        <%})%>
                    </h3>
                </li>            
        </ul>
</body>

</html>