body {
    background-color: gainsboro;
    /* Use a system font, if none are available use an available sans-sarif */
    font-family: system-ui, sans-serif;
    margin: 0;  
    height: 100vh;  
    background-image: url('../bg.jpg');
    
    
  }

  .father{
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
height: 100%;
  }

  #message{
    margin: 100px 0 ;
  }

  
  .board {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 325px;
  }
  
  .sqr {
    width: 30%;
    background-color: transparent;
    backdrop-filter: blur(4px);
    aspect-ratio: 1/1;
    border: 3px solid black;
    font-size: 64px;
    text-align: center;
  }




  
  .bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 100px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    transform: scale(0.85);
    }
    
    .bn632-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    }
    
    .bn632-hover:focus {
    outline: none;
    }
    
    .bn632-hover.bn24 {
    background-image: linear-gradient(
        to right,
        #6253e1,
        #852d91,
        #6200ff,
        #f24645
      );
    }
    
    
  